body {
    font-family: Arial;
}

h1 {
    text-align: center;
}


.circle1 {
    
    fill: #800000;
    stroke: black;
    stroke-width: 4

}

.circle2 {
    
    fill: #20B2AA; 
}


.circle2:hover {
    
   stroke: black;
   stroke-width: 4;
}


.circle3 {
    
    fill: #F08080;
    stroke: black;
    stroke-width: 4 
}


.buttonstyle {
    
    background: transparent; 
    border:  solid white;
}


.center {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
                
}
    